@mixin flexbox {
    display: flex;
    flex-direction: column;
}

@mixin defaultColors {
    --hover-color: #e0ffff;
    --active-color: #9cff9c;
    --confirm-color: #02ef2a;
    --delete-color: #ff2c14;
    --link-color: #005dff;
    --background-color: #ffffff;
    --foreground-color: #000000;
}

@mixin defaultSizes {
    --gap-size: 4px;
}

@mixin defaultFontSize {
    --normal-text-size: 14px;
    --header-text-size: 42px;
}

@mixin defaultFonts {
    --normal-font: Verdana, Geneva, Tahoma, sans-serif;
    --monospace-font: 'Courier New', Courier, monospace;
    --serif-font: 'Times New Roman', Times, serif;
}