@use "./common.scss";
@use "./Theme/themes/DefaultLight/DefaultLight.module.scss";

:root {
    --border: 1px solid lightgray;
    @include DefaultLight.variables;
}

a {
    text-decoration: none;
}

pre {
    margin: 0;
    font-family: var(--monospace-font);
}
