@use "../common.scss";

.scrollArea {
    overflow: hidden;
    contain: strict;
    flex: 1 1;
    @include common.flexbox;
}

.scrollAreaY {
    overflow-y: scroll;
}

.scrollAreaX {
    overflow-x: scroll;
}