.theme {
    --hover-color: #004444;
    --active-color: #253f25;
    --background-color: #262626;
    --foreground-color: #ffffff;
    --code-color: #353535;
    --error-color: #ff3a2c;
    --link-color: #3e74ff;
}