@use "../common.scss";

.darkTheme {
    --hover-color: #004444;
    --active-color: #253f25;
    --confirm-color: #02ef2a;
    --delete-color: #ff2c14;
    --link-color: #005dff;
    --background-color: #262626;
    --foreground-color: #ffffff;
}

.whiteTheme {
    @include common.defaultColors;
}